<!-- Projects Section -->
<section id="projects" class="projects">

    <div class="project-card">
        <h2>  Our vision </h2>
        <img src="truck image 1 (1).jpg" alt="" width="25%" style="box-shadow: 0 0  5px black;">
        <img src="truck image.jpg" alt="" width="25%" style="box-shadow: 0 0  5px black;">
        <img src="truck image 2.jpg" alt="" width="25%" style="box-shadow: 0 0  5px black;">
      
        <p>A transport company's vision typically focuses on becoming a leader in its industry, often aiming to be a
            reliable, efficient, and sustainable provider of transportation solutions, connecting people and businesses
            effectively  
            Becoming a Leader:
            Many transport companies aim to be the preferred choice for customers, known for their quality service and reliability. 
            Connecting People and Businesses:
            A fundamental goal is to facilitate the movement of goods and people efficiently and effectively, fostering economic growth and connectivity.</p>
        <!-- <a href="https://github.com/yourusername/ecommerce-app" target="_blank" class="btn">View Project</a> -->
    </div>

    
    <div class="project-card">

        <h2> Our Mission </h2>
        <p> To provide the highest quality service to our customers by continuously increasing cost efficiency and
            maintaining delivery deadlines. To encourage our workforce to continuously strive for quality and
            excellence in everything they do. To promote team work and create work environment that encourages
            talent and brings out the best in our employees. </p>
        <!-- <a href="https://github.com/yourusername/portfolio" target="_blank" class="btn">View Project</a> -->
    </div>

    <!-- Add more projects as necessary -->
</section>