<footer>
    <p>&copy; 2024 Vivek TRansport | All Rights Reserved</p>
    <div class="social-links">
        <a href="https://github.com/yourusername" target="_blank">Phone No : 9322662939</a>
        <a href="https://www.linkedin.com/in/yourname/" target="_blank">Email : vivektaware16&#64;gmail.com</a>
    </div>

    <div class="stlist">
        <ul>
            <li>Pickup Requst</li>
            <li>About Us</li>
            <li>Web Mail</li>
            <li>Client Login</li>
            
        
        </ul>
        <ul>
            <li>Home</li>
            <li>Track Consigments</li>
            <li>GST Details</li>
            <li>Contact Us</li>
          
        </ul>
    </div>

</footer>

