<!-- Header -->
<header>
    <div class="headline">
        <p>9322662939 || Vivektaware16&#64;gmail.com</p>
        <p>Certified Domastic & International Logistics Service company</p>


    </div>
    <nav>
        <div class="logo"> 𝙑𝙞𝙫𝙚𝙠 𝙏𝙍𝙖𝙣𝙨𝙥𝙤𝙧𝙩𝙩™ ʘ̅͜ʘ̅
        </div>
        <ul>
            <li><a href="#about" id="homebtn">About</a></li>
            <li><a href="#skills">Book Truck </a></li>
            <li><a href="#projects">Add Your Vehicle</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
